*{
    margin:0;
    padding:0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{ 
    background-color: #FFD0D0;
    color: rgb(91, 82, 82);
    border: 6px double #FF9EAA;
    padding:30px;
    text-align: center;
}

a{
    color: black;
    font-weight: bold;
    text-decoration:none;
}


.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 70px;

}

.cupcake-img-div{
    background-color: white;
}

.img-cupcake{
    height: 500px;
    width: auto;
    border: 8px solid #C1ECE4;
    border-radius: 16px;
    padding: 20px;
}

figcaption{
    font-size: 12px;
    text-align: center;
}

.recipe-table{
   background-color: #3aa6b991;
   padding: 60px;
   border-radius: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}



.recipe-pages{
    list-style: none; 
  
}

.recipe-pages li {
    display: flex;
    gap: 15px;
    background-color: white;
    border-radius: 16px;
    padding-left: 25px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin:20px;
    text-indent: -0.75rem;
  }

.recipe-pages li::before {
    content: '🧁 ';
  }











.ingredients.brownies{
    background-color: rgba(21, 199, 184, 0.219);
}

.recipe.brownies{
    background-color: rgba(92, 6, 6, 0.623);
}

.ingredients.cheesecake{
    background-color: cornsilk;
}

.recipe.cheesecake{
    background-color: rgb(241, 219, 223);
}

.ingredients.cake{
  background-color: rgba(27, 74, 112, 0.568);
}

.recipe.cake{
    background-color: rgba(124, 119, 119, 0.623);
}